<html>
<head>
    <title>Página Home</title>
</head>
<body>
    <h1>Título da Página</h1>
    <hr/>
     - {{ user.name }} é velho? 
    {{#showOld}}
        - tenho {{user.age}} anos
    {{/showOld}}
</body>
</html>